.AdapterDetail {
  &__body {
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 46px;
  }
  &__grid {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.33);
    margin-bottom: 204px;
  }
  &__admin-dashboard-link {
    @include body-text;
    color: $action-blue;
    text-decoration: none;
  }

  &__title {
    @include headline-text;
    margin-bottom: 55px;
    margin-top: 6px;
  }
}


