.AppColor {
  &--cmm {
    background-color: $cmm-color;
  }

  &--compstak {
    background-color: $compstak-color;
  }

  &--val {
    background-color: $val-color;
  }

  &--cmbs {
    background-color: $cmbs-color;
  }

  &--cls {
    background-color: $cls-color;
  }

  &--reis {
    background-color: $reis-color;
  }

  &--places {
    background-color: $places-color;
  }

  &--infabode {
    background-color: $infabode-color;
  }

  &--commercialex {
    background-color: $commercialex-color;
  }

  &--fourtwentyseven {
    background-color: $fourtwentysevenheader-color;
  }

  &--databuffet {
    background-color: $databuffet-header-color;
  }

  &--enricheddata {
    background-color: $enricheddata-color;
  }

  &--retailmarketpoint {
    background-color: $retailmarketpoint-color;
  }
}
