.AccountMenu {
  &__inner {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  &__email {
    color: $white;
  }

  &__icon {
    height: 30px;
    margin-left: 6px;
    width: 30px;
  }
}
