$moody-blue: #2196f3;
$highlight-blue: #eef9fc;
$highlight-blue-da: #daf1fa;
$action-blue: #1565c0;
$action-blue-dark: #0d47a1;
$cyan: #00a4d8;
$green: #009775;

$blue-dark: #002e5d;
$green-light: #78be20;
$red: #f44336;
$form-error-red: #d32f2f;

$white: #ffffff;
$black: #000000;
$gray-34: #343441;
$gray-a8: #a8a8a8;
$gray-75: #75787b;
$gray-91: #919598;
$gray-a5: #a5a5a5;
$gray-c8: #c8c9c7;
$gray-e4: #e4e4e4;
$gray-f0: #f0f0f0;
$gray-f9: #f9f9f9;

$compstak-color: #3a3f50;
$val-color: #ff674b;
$cmm-color: #2196f3;
$cmbs-color: #6e0fdc;
$cls-color: #009775;
$reis-color: #4D6283;
$places-color: #67809f;
$infabode-color: #27959d;
$retailmarketpoint-color: #ffe694;
$commercialex-color: #b5daf5;
$fourtwentyseven-color: #ffffff;
$databuffet-color: #ffffff;
$enricheddata-color: #e7e7e7;
$retailmarketpoint-color: #f9dec3;
$databuffet-header-color: #000000;
$fourtwentysevenheader-color: #048B9A;
