@mixin ms-align-self-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
}

.ms-column-1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}
.ms-column-2 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}
.ms-column-3 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}
.ms-column-4 {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}
.ms-column-5 {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 1;
  grid-row: 1;
}
.ms-column-6 {
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1;
}
.ms-column-7 {
  -ms-grid-column: 7;
  grid-column: 7;
  -ms-grid-row: 1;
  grid-row: 1;
}
