@mixin grid-template($height) {
  -ms-grid-columns: 6px 260px 150px 1fr;
  -ms-grid-rows: #{$height};
  grid-template: #{$height} / 6px 260px 150px 1fr;
}

.AdapterRow {
  @include grid-template(50px);
  background-color: $white;
  border-bottom: 1px solid $gray-f0;
  border-right: 1px solid $gray-f0;
  color: black;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  text-decoration: none;

  &__details {
    @include ms-align-self-center;
    align-self: center;
    background-color: $white;
    padding-left: 10px;
    padding-right: 10px;

    &--center {
      text-align: center;
    }
  }

  &:hover {
    background-color: $highlight-blue;
    .AdapterRow__details {
      background-color: $highlight-blue;
    }
  }
}
