@mixin grid-template($height) {
  -ms-grid-columns: 260px 150px 150px;
  -ms-grid-rows: #{$height};
  grid-template: #{$height} / 260px 150px 150px;
}

.Adapters {
  &__grid {
    margin-top: 33px;
  }
  &__admin-dashboard-link {
    @include body-text;
    color: $action-blue;
    text-decoration: none;
  }

  &__title {
    @include headline-text;
    margin-bottom: 55px;
    margin-top: 6px;
  }
}

.Adapters-grid-header {
  @include grid-template(20px);
  display: -ms-grid;
  display: grid;
  margin-left: 87px;
  margin-right: 50px;
}

.Adapters-grid-header__column {
  @include small-caption-text;
  @include ms-align-self-center;
  color: $gray-91;
  padding-left: 10px;
  padding-right: 10px;

  &--center {
    text-align: center;
  }
}
