.PartnerAdapter {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.33);
  display: flex;
  margin-bottom: 22px;

  &__logo {
    background-position: center center;
    background-repeat: no-repeat;
    border-right: 1px solid $white;
    width: 80px;

    &--val {
      background-color: $val-color;
      background-image: url(../images/val-logo.png);
    }

    &--cmm {
      background-color: $cmm-color;
      background-image: url(../images/cmm-logo.svg);
    }

    &--compstak {
      background-color: $compstak-color;
      background-image: url(../images/compstak-logo.png);
    }

    &--cmbs {
      background-color: $cmbs-color;
      background-image: url(../images/cmbs-logo.svg);
    }

    &--reis {
      background-color: $reis-color;
      background-image: url(../images/logo-reis.png);
      background-size: 60%;
    }
  }

  &__table {
    flex: 1;
  }
}
