.DeleteModal {
  height: 150px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 20px;
  right: 0;
  text-align: center;
  top: 40%;

  h4 {
    font-size: 1.55em;
    margin-bottom: 20px;
  }

  .confirm {
    background: #78be20;
    margin-right: 10px;
    width: 65px;
  }

  .cancel {
    background: gray;
    margin-left: 10px;
    width: 65px;
  }

  &:before,
  &:after {
    content: none;
  }
}