@mixin grid-template($height) {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: #{$height};
  grid-template: #{$height} / 1fr 1fr 1fr 1fr 1fr 1fr;
}

.CompaniesTable {
  &__header {
    @include grid-template(20px);
    display: -ms-grid;
    display: grid;
  }

  &__columnName {
    @include small-caption-text;
    color: $gray-91;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__rows {
    border-top: 1px solid $gray-f0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  }
}
